/*-----------------------------------------------------------------------------------
                        style.css by DarkG
                        Contact: darkgdg0777@gmail.com
                        License: ---
-----------------------------------------------------------------------------------*/
                    /* - Part of DarkG's Personal Website - */
/*---------------------------------------------------------------------------------*/

:root {
    color-scheme: light dark;
    --bg-color: 20, 20, 20;
    --accent-color: 125, 50, 255;
    --font-color: #c8c8c8; /* Make it darker - DO NOT FORGET THE ICONS */
    --special-font-color: rgb(162, 136, 171);
    --code-color: rgb(150,150,150);
}
[data-theme="dark"] {
    --bg-color: rgb(20, 20, 20);
    --accent-color: rgb(125, 50, 255);
    --font-color: rgb(200,200,200);
    --special-font-color: rgb(162, 136, 171);
    --code-color: rgb(150,150,150);
}

/* ---------------------------------- Body & Section Styling ---------------------------------- */

.heading h1 {
    color: rgb(var(--accent-color));
    padding-bottom: 10px;
    border-bottom: solid 2px;
    text-align: center;
    font-size: 4em;
}

/* Fluid Elements */

html {
    background-color: rgb(var(--bg-color));
}

body {
    padding: 4vh 4vw 4vh 4vw;
}

.heading, main, footer {
    padding-left: 1vw;
}

footer {
    padding-top: 4vh;
}

footer h2 {
    align-items: center;
}


/* ---------------------------------- Text & Block Styling ---------------------------------- */

p, li, mark, a, h1, h2, h3, h4, h5, h6 {
    color: var(--font-color);
    font-family: sans-serif;
}

hr {
    border: solid 1px var(--code-color);
}


h2 {
    border-bottom: solid 1px var(--code-color);
}

h3 {
    margin-bottom: 1px;
}

ul {
    margin-top: 0px;
}

li {
    margin-top: -7px;
}

ul.demo li {
    margin-top: 10px;
}

mark {
    background-color: rgba(var(--accent-color),0.4);
    padding: 2px;
    margin: -2px;
}

a {
    color: rgb(var(--accent-color));
}

div.code-block {
    color: var(--code-color);
    border: solid 1px var(--code-color);
    padding: 10px;
}

div.callout {
    border: solid rgb(var(--accent-color));
    padding: 5px 20px 5px 20px;
    background-color: rgba(var(--accent-color),0.03);
    margin-top: 5px;
}

div.callout h2 {
    border: none;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    font-size: 1.25em;
}

div.callout p {
    margin-top: 10px;
}

/* ---------------------------------- END OF DOCUMENT ---------------------------------- */
